#be-page-builder .inside{
	background: #f9f9f9;
	padding: 10px 30px 20px;
	color: #878787;
}
#be-page-builder .inside h4{
	font-size: 14px;
	color:#262626;
}
#be-pb-intro{
	margin-bottom: 20px;
}
#be-pb-main{
	min-height: 100px;
}

.ui-widget-header{
	background: #f3f3f3 !important;
	color:#555 !important;
	border:none !important;
	border-bottom: 1px solid #dadada !important;
	font:bold 14px Arial, sans-serif !important;
	border-radius: 0 !important;
	box-shadow: inset 1px 0px 0 #fff;
}

.ui-state-hover{
	background:none !important; 
	border: none !important;
}

.ui-dialog {
 /*position: fixed !important;
 top:70px !important;*/
/* z-index: 9999998 !important;*/
}
.ui-widget-overlay{
	z-index:99 !important;
}

/*.media-modal {
 z-index: 9999999 !important;
}*/

.ui-icon-closethick{
 background: url('../images/closethick.png');
 height: 15px;
}

.ui-dialog-titlebar-close{
 background: none;
 border: none;
}

.ui-dialog-titlebar-close .ui-button-text{
 display: none;
}

	.shortcode{ display: none; }
	.be-pb-col-wrap { float: left; padding-bottom: 100px;  }
	.portlet { margin-bottom: 15px; cursor: move; }
	.portlet-header, .ui-widget-header { padding:15px; }
	.portlet-header .ui-icon { float: right; }
	.portlet-content { padding: 0.4em; }
	.ui-sortable-placeholder { background:#999; visibility: visible !important; height: 50px !important; }
	.ui-sortable-placeholder * { visibility: hidden; }
	.ui-sortable{
		list-style: none;
		padding: 0;
	}
	.be-pb-row-wrap {
		width:96%;
		margin-bottom: 30px;
		padding: 2%;
		background: #e9e9e9;
  		border-radius: 3px;
  		
	}
	#shortcodes, #edit-shortcode, #dialog-confirm, .ui-dialog {
		background: #fafafa;
		border:none !important;
	}
	#dialog-confirm{
		font:14px/25px Arial,sans-serif;
		padding: 15px;
		color: #555;
	}
	.ui-dialog-buttonpane{
		text-align: center;
	}
	.be-pb-row-wrap .be-pb-col-wrap {
    	position: relative; 
    	margin-left: 2%;
    	background-color: #f7f7f7;
		border-radius: 5px;
		
	}

	.be-pb-row-wrap .be-pb-row .be-pb-col-wrap:first-child{
		margin-left: 0;
	}
	.be-pb-multi-wrap{
		padding:15px;
		padding-bottom: 5px;
		background:#efefef;
		border: 1px solid #d6d6d6;
		border-radius: 5px;
		margin-bottom: 15px;
		box-shadow: inset 0 0px 3px rgba(0,0,0,0.15);
	}
	.be-pb-column{
		padding: 10px 0 0 0;
	}
	.one_third{ width: 27.5%; padding: 2%; padding-bottom: 0; }
	.one_fourth{ width: 19.25%; padding: 2%; padding-bottom: 0; }
	.one_col { width: 95.5%; padding: 2%;  }
	.two_third { width: 61%; padding: 2%; padding-bottom: 0; }
	.one_half { width:44.5%; padding: 2%; padding-bottom: 0; }
	.three_fourth { width:69.5%; padding: 2%; padding-bottom: 0; }
	.portlet {
/*		background:#bec1c5;
		-webkit-box-shadow: 0px 1px 0px 0px #bec1c5, 0px 2px 0px 0px #cdd0d5, 0px 3px 0px 0px #d1d3d8, 0px 0px 0px 1px #d0d3d7, 0px 0px 0px 2px #cbced2, 0px 0px 0px 3px #c5c7cc, 0px 1px 0px 3px #e7e9eb;
		box-shadow: 0px 1px 0px 0px #bec1c5, 0px 2px 0px 0px #cdd0d5, 0px 3px 0px 0px #d1d3d8, 0px 0px 0px 1px #d0d3d7, 0px 0px 0px 2px #cbced2, 0px 0px 0px 3px #c5c7cc, 0px 1px 0px 3px #e7e9eb;
		border-radius: 5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;*/
	}
	.portlet-header{
		color: #fff;
		font: 12px  Arial, sans-serif !important;
		background-color: #4f5159;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#4f5159), to(#2c2e34));
		background-image: -webkit-linear-gradient(top, #4f5159, #2c2e34);
		background-image:    -moz-linear-gradient(top, #4f5159, #2c2e34);
		background-image:      -o-linear-gradient(top, #4f5159, #2c2e34);
		background-image:         linear-gradient(to bottom, #4f5159, #2c2e34);
		border-width: 1px;
		border-style: solid;
		border-color: #202020;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.10);
	 	border-radius: 5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
		font-weight: bold !important;
	}

	.portlet-header:hover{
		background: #f73946;
		border:1px solid #f73946;
	}

	.be-pb-tab{
		padding: 20px;
		margin-bottom: 20px;
		background: #ddd;
	}

	#be-pb-save-wrap{ text-align: center; position: relative; }

	.be-pb-multi-wrap h4{
		margin: 0 0 10px 0;
	}

	.separator{
		height: 2px;
		margin-bottom: 25px;
		background: url('../images/separator.png');
	}

	.notification {
	font-family: 'Arial',sans-serif;
	font-size: 14px;
	margin-bottom: 20px;
	padding: 15px;
	position: relative;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
}
.notification span.close {
	width: 14px;
	height: 14px;
	background: url(../images/notification-close.png);
	cursor: pointer;
	margin-top: -7px;
	position: absolute;
	right: 20px;
	top: 50%;
}
.notification.red {
	background: #ff9299;
	color: #ca6067;
}
.notification.green {
	background: #97fd8f;
	color: #47b23e;
}
#be-pb-loader{
	margin-left: 50px;
	background: url('../images/loader.gif') no-repeat;
	width: 16px;
	height: 16px;
	display: none;
	position: absolute;
	left: 50%;

}
/* Image Selector */

.seleced-images-wrap .remove {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 15px;
	height: 15px;
	background: url(../images/delete.png) no-repeat;
	cursor: pointer;
}
#be-pb-main span.remove {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 15px;
	height: 15px;
	background: url(../images/delete.png);
	cursor: pointer;
}
.text-clone-wrap .add-textbox {
	display: inline-block;
	background: url(../images/add-text.png);
	width: 29px;
	height: 29px;
	cursor: pointer;
	margin-bottom: -10px;
}
.text-clone-wrap .remove-textbox {
	display: inline-block;
	background: url(../images/remove-text.png);
	width: 29px;
	height: 29px;
	cursor: pointer;
	margin-bottom: -10px;
}
.text-clone-wrap {
	margin-bottom: 5px;
}	

/* Bluefoose input
*******************************************************************************/
.seleced-images-wrap {
	width: 100px;
	height: 70px;
	overflow: hidden;
	float: left;
	background: #ccc;
	text-align: center;
	margin: 0px 20px 20px 0px;
	position: relative;
}
.seleced-images-wrap.ui-sortable-placeholder {
	height: 70px !important;
}
.seleced-images-wrap img {
	max-height: 70px;
}
.btn_browse_files {
	margin-bottom: 20px !important;
}
fieldset {
	margin-bottom: 13px;
}
select {
	width: 255px;
}
.left-section {
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	margin-bottom: 10px;
	margin-right: 40px;
}
.padding-top-5 {
	padding-top: 7px;
}
.right-section {
	display: inline-block;
	zoom: 1;
	margin-bottom: 10px;
}
.margin-bottom-5 {
	margin-bottom: 5px;
}
.be-pb-label {
	width: 200px;
	display: block;
	color: #666;
    display: block;
    margin-bottom: 10px;
	line-height:18px;
	font-size: 13px;
	font-family: Arial, sans-serif;
}
.be-pb-label.block {
	margin-bottom: 10px;
	display: block;
}
.be-pb-text {
	padding: 5px 10px 5px 10px;
	width: 125px;
	color: #919496;
	background-color: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
	width: 290px;
}
.be-pb-text:focus {
	background:#fff;
}

.be-pb-choose-shortcode{
	display: inline-block;
	margin: 0 14px 30px 0;
}

#shortcode-form h2, #edit-shortcode h2{
	margin-bottom: 30px;
	font-size: 18px;
	font-family: Arial,sans-serif;
	color: #555;
}

.ui-dialog-buttonset button{
	margin: 0 10px 20px;
}
/* Global Declaration */

div.selector, 
div.selector span, 
div.checker span, 
div.radio span, 
div.uploader, 
div.uploader span.action {
  background-image: url(../images/sprite-light.png);
  background-repeat: no-repeat;
}

.selector, 
.radio, 
.checker, 
.uploader, 
.selector *, 
.radio *, 
.checker *, 
.uploader *{
	margin: 0;
	padding: 0;
}

/* SPRITES */

/* Select */

div.selector {
  background-position: -483px -170px;
  line-height: 34px;
	height: 34px;
}

div.selector span {
  background-position: right 0px;
  height: 34px;
	line-height: 32px;
}

div.selector select {
  /* change these to adjust positioning of select element */
  top: 0px;
	left: 0px;
}

div.selector:active, 
div.selector.active {
	background-position: -483px -204px;
}

div.selector:active span, 
div.selector.active span {
	background-position: right -34px;
}

div.selector.focus, div.selector.hover, div.selector:hover {
	background-position: -483px -238px;
}

div.selector.focus span, div.selector.hover span, div.selector:hover span {
	background-position: right -68px;
}

div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
	background-position: -483px -272px;
}

div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
	background-position: right -102px;
}

div.selector.disabled,
div.selector.disabled:active,
div.selector.disabled.active {
	background-position: -483px -306px;
}

div.selector.disabled span,
div.selector.disabled:active span,
div.selector.disabled.active span {
  background-position: right -136px;
}

/* Checkbox */

div.checker {
  width: 19px;
  height: 19px;
}

div.checker input {
  width: 19px;
  height: 19px;
}

div.checker span {
  background-position: 0px -340px;
  height: 19px;
  width: 19px;
}

div.checker:active span, 
div.checker.active span {
	background-position: -19px -340px;
}

div.checker.focus span,
div.checker:hover span {
	background-position: -38px -340px;
}

div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
	background-position: -57px -340px;
}

div.checker span.checked {
	background-position: -76px -340px;
}

div.checker:active span.checked, 
div.checker.active span.checked {
	background-position: -95px -340px;
}

div.checker.focus span.checked,
div.checker:hover span.checked {
	background-position: -114px -340px;
}

div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
	background-position: -133px -340px;
}

div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
	background-position: -152px -340px;
}

div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
	background-position: -171px -340px;
}

/* Radio */

div.radio {
  width: 18px;
  height: 18px;
}

div.radio input {
  width: 18px;
  height: 18px;
}

div.radio span {
  height: 18px;
  width: 18px;
  background-position: 0px -359px;
}

div.radio:active span, 
div.radio.active span {
	background-position: -18px -359px;
}

div.radio.focus span, 
div.radio:hover span {
	background-position: -36px -359px;
}

div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
	background-position: -54px -359px;
}

div.radio span.checked {
	background-position: -72px -359px;
}

div.radio:active span.checked,
div.radio.active span.checked {
	background-position: -90px -359px;
}

div.radio.focus span.checked, div.radio:hover span.checked {
	background-position: -108px -359px;
}

div.radio.focus:active span.checked, 
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
	background-position: -126px -359px;
}

div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
	background-position: -144px -359px;
}

div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
	background-position: -162px -359px;
}

/* Uploader */

div.uploader {
  background-position: 0px -377px;
  height: 34px;
}

div.uploader span.action {
  background-position: right -513px;
  height: 34px;
  line-height: 28px;
}

div.uploader span.filename {
  height: 25px;
  /* change this line to adjust positioning of filename area */
  margin: 3px 0px 2px 2px;
  line-height: 28px;
}

div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
  background-position: 0px -445px;
}

div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
  background-position: right -547px;
}

div.uploader.active span.action,
div.uploader:active span.action {
  background-position: right -581px;
}

div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
  background-position: right -615px;
}

div.uploader.disabled {
  background-position: 0px -411px;
}

div.uploader.disabled span.action {
  background-position: right -479px;
}

/* PRESENTATION */

.ui-widget{
	font-family: Arial,sans-serif !important;
}

/* Select */

div.selector select {
  width: 190px;
  font-family: Arial, sans-serif;
	font-size: 1em;
	border: solid 1px #fff;
}

div.selector span {
  padding: 0px 25px 0px 2px;
  cursor: pointer;
}

div.selector span {
  color: #666;
  width: 158px;
  text-shadow: 0 1px 0 #fff;
}

div.selector.disabled span {
	color: #bbb;
}

/* Checker */
div.checker {
  margin-right: 5px;
}

/* Radio */
div.radio {
  margin-right: 5px;
}

/* Uploader */
div.uploader {
  width: 190px;
  margin-bottom: 20px;
  cursor: pointer;
}

div.uploader span.action {
  width: 77px;
  text-align: center;
  text-shadow: #fff 0px 1px 0px;
  background-color: #DEE0E5;
}

div.uploader span.filename {
  color: #777;
  width: 82px;
  border-right: solid 1px #aaadb1;
  font-size: 90%;
}

div.uploader input {
  width: 190px;
}

div.uploader.disabled span.action {
  color: #aaa;
}

div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}
/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.selector select:focus, .radio input:focus, .checker input:focus, uploader input:focus {
  outline: 0;
}

/* Select */

div.selector {
	position: relative;
	padding-left: 10px;
	padding-right:2px;
	overflow: hidden;
	margin-left: -4px;
}

div.selector span {
	display: block;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.selector select {
	position: absolute;
	opacity: 0;
  height: 25px;
  border: none;
  background: none;
}

.wp-picker-container{
	margin-left: 1px !important;
}

/* Checker */

div.checker {
	position: relative;
	display: inline-block;
	zooom: 1;
}

div.checker span {
	display: block;
	text-align: center;
}

div.checker input {
  opacity: 0;
  display: inline-block;
  background: none;
}

/* Radio */

div.radio {
	position: relative;
	display: inline-block;
	zoom: 1;
}

div.radio span {
	display: block;
	text-align: center;
}

div.radio input {
  opacity: 0;
  text-align: center;
  display: inline-block;
  background: none;
}

/* Uploader */

div.uploader {
  position: relative;
  float: left;
  overflow: hidden;
}

div.uploader span.action {
  float: left;
  display: inline;
  padding: 2px 8px 2px 0px;
  overflow: hidden;
  cursor: pointer;
}

div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.uploader input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  float: right;
  height: 25px;
  border: none;
}

/* Bluefoose dark button
*******************************************************************************/
.bluefoose-button-dark {
	position:relative;
	font: 12px Arial, sans-serif;
		color: #fff;
		background-color: #5ed1eb;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#5ed1eb), to(#22b5d6));
		background-image: -webkit-linear-gradient(top, #5ed1eb, #22b5d6);
		background-image:    -moz-linear-gradient(top, #5ed1eb, #22b5d6);
		background-image:      -o-linear-gradient(top, #5ed1eb, #22b5d6);
		background-image:         linear-gradient(to bottom, #5ed1eb, #22b5d6);	
		border-color: #58cee8;
	border-width: 1px;
	border-style: solid;
  	padding: 7px 10px 7px 10px;
  	text-align: center;
  	text-decoration: none;
  
  
}
.bluefoose-button-dark:hover {
		color: #fff;
}
.bluefoose-button-dark:active {
		color: #fff;
}

.be-pb-element.ui-sortable-placeholder{
	background: #fff;
	border: 1px dotted #d6d6d6;
}

/* Bluefoose light button
*******************************************************************************/
.bluefoose-button-light {
	position:relative;
  	text-decoration:none;
	color: #fff;
	font: bold 12px Arial, sans-serif !important;
	background-color: #4f5159;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f5159), to(#2c2e34));
	background-image: -webkit-linear-gradient(top, #4f5159, #2c2e34);
	background-image:    -moz-linear-gradient(top, #4f5159, #2c2e34);
	background-image:      -o-linear-gradient(top, #4f5159, #2c2e34);
	background-image:         linear-gradient(to bottom, #4f5159, #2c2e34);
	border-width: 1px;
	border-style: solid;
	border-color: #202020;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.10);
  	padding: 12px 15px;
  	text-align: center;
  	border-radius: 3px;
  	font-weight: bold;
}
.bluefoose-button-light:hover , .bluefoose-button-light.ui-state-hover {
	color: #fff;
	background: #f73946 !important;
	border:1px solid #f73946 !important;
    cursor: pointer; 
}
.bluefoose-button-light:active {
	color: #fff;
	background: #f73946;
	border:1px solid #f73946; 
}

.be-pb-controls{
	text-align: center;
	line-height: 0;
}
.be-pb-row-controls{
	line-height: 0;
}

.be-pb-controls a, .be-pb-row-controls a, #be-pb-add-row {
	margin:3px 10px 13px; 
	display:inline-block; 	
}

#be-pb-add-row{
	margin-left: 0;
}

.be-pb-row-controls .bluefoose-button-light , .be-pb-row-controls .bluefoose-button-dark {
	padding: 5px;
}

.control-icon{
	float: right;
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	margin-left: 15px;
	cursor: pointer;
}

.icon-edit{
	background-image:url('../images/edit.png');
}
.icon-delete{
	background-image:url('../images/delete.png');
}

.ui-tooltip .delete-shortcode{
	display: inline-block;
	margin: 10px;
	padding: 2px 10px;
}

.ui-tooltip-info-icon .ui-tooltip-content, .ui-tooltip-info-icon .ui-tooltip-titlebar{
	padding-left: 15px;
}

/* Mini button general
*******************************************************************************/
.mini-btn, .mini-btn span {
	width: 16px;
	height: 16px;
}
.mini-btn, .med-btn{
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	cursor:pointer;
}
		
.mini-btn span, .med-btn span{
	display:block;
	width: 16px;
	height: 16px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.med-btn, .med-btn span{
	width: 28px;
	height:17px;
}

	
	/* Mini button light style
*******************************************************************************/
		
	.mini-btn-light{
	background-color: #d5d7da;
	background-image:  -webkit-gradient(linear, left top, left bottom, from(#e3e5e8), to(#c4c5c8));
	background-image:  -webkit-linear-gradient(top, #e3e5e8, #c4c5c8);
	background-image:  -moz-linear-gradient(top, #e3e5e8, #c4c5c8);
	background-image:  -o-linear-gradient(top, #e3e5e8, #c4c5c8);
	background-image:  linear-gradient(to bottom, #e3e5e8, #c4c5c8);
		border-width: 1px;
		border-style: solid;
		border-color: #b0b3bc #b0b3bc #95979e #b0b3bc;
		text-shadow:0px 1px 0px rgba(255, 255, 255, 0.60);
	-webkit-box-shadow: 
 inset 0px 1px 0px 0px rgba(250, 250, 250, .9),  0px 1px 1px 0px rgba(0, 0, 0, .1);
	box-shadow: 
 inset 0px 1px 0px 0px rgba(250, 250, 250, .9),  0px 1px 1px 0px rgba(0, 0, 0, .1);
	}
	
		/* Mini button dark style
*******************************************************************************/

.mini-btn-dark{
		border: 1px solid #58cee8;
	background-color: #5ed1eb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5ed1eb), to(#22b5d6));
	background-image: -webkit-linear-gradient(top, #5ed1eb, #22b5d6);
	background-image: 	-moz-linear-gradient(top, #5ed1eb, #22b5d6);
	background-image:	 -o-linear-gradient(top, #5ed1eb, #22b5d6);
	background-image: 		linear-gradient(to bottom, #5ed1eb, #22b5d6);

}

		/* Icons
*******************************************************************************/

.mini-btn-light .btn-icon-close {
	background-image:url(../images/close-light.png);
}
.mini-btn-dark .btn-icon-close {
	background-image:url(../images/close-dark.png);
}
.mini-btn-light .btn-icon-plus {
	background-image:url(../images/plus-light.png);
}
.mini-btn-dark .btn-icon-plus {
	background-image:url(../images/plus-dark.png);
}
.mini-btn-light .btn-icon-minus {
	background-image:url(../images/minus-light.png);
}
.mini-btn-dark .btn-icon-minus {
	background-image:url(../images/minus-dark.png);
}

.mini-btn-light .btn-icon-one-col {
	background-image:url(../images/one-col.png);
}

.mini-btn-light .btn-icon-one-half {
	background-image:url(../images/one-half.png);
}

.mini-btn-light .btn-icon-one-third {
	background-image:url(../images/one-third.png);
}

.mini-btn-light .btn-icon-one-fourth {
	background-image:url(../images/one-fourth.png);
}

.mini-btn-light .btn-icon-two-third {
	background-image:url(../images/two-third.png);
}

.mini-btn-light .btn-icon-three-fourth {
	background-image:url(../images/three-fourth.png);
}

.mini-btn-light .btn-icon-mixed {
	background-image:url(../images/mixed.png);
}

.mini-btn-light .btn-icon-row-delete {
	background-image:url(../images/row-delete.png);
}

.mini-btn-light .btn-icon-row-duplicate {
	background-image:url(../images/row-duplicate.png);
}

#shortcodes, #edit-shortcode{
	overflow: auto;
	padding: 25px;
	padding-bottom: 0;
}

#shortcodes form, #edit-shortcode form{
	padding-bottom: 25px;
}
/* Overlays */
.ui-widget-overlay {  
	background: #000 !important;
	opacity: .70 !important;
	filter: alpha(opacity=80) !important;
	position: fixed !important;
}

.ui-dialog { position: absolute; padding: 0; width: 300px; overflow: hidden; }
.ui-dialog {
	position: relative;
}
.ui-dialog-titlebar-close {
	width: 20px;
	height: 8px;
	float: right;
	
}

.media-toolbar, .media-sidebar {
	z-index: 1000000 !important;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.left{
	float: left;
}
.right{
	float: right;
}