@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ss-"] {
*/
.ss-home, .ss-home-2, .ss-home-3, .ss-office, .ss-newspaper, .ss-pencil, .ss-pencil-2, .ss-quill, .ss-pen, .ss-blog, .ss-droplet, .ss-paint-format, .ss-image, .ss-image-2, .ss-images, .ss-camera, .ss-music, .ss-headphones, .ss-play, .ss-film, .ss-camera-2, .ss-dice, .ss-pacman, .ss-spades, .ss-clubs, .ss-diamonds, .ss-pawn, .ss-bullhorn, .ss-connection, .ss-podcast, .ss-feed, .ss-book, .ss-books, .ss-library, .ss-file, .ss-profile, .ss-file-2, .ss-file-3, .ss-file-4, .ss-copy, .ss-copy-2, .ss-copy-3, .ss-paste, .ss-paste-2, .ss-paste-3, .ss-stack, .ss-folder, .ss-folder-open, .ss-tag, .ss-tags, .ss-barcode, .ss-qrcode, .ss-ticket, .ss-cart, .ss-cart-2, .ss-cart-3, .ss-coin, .ss-credit, .ss-calculate, .ss-support, .ss-phone, .ss-phone-hang-up, .ss-address-book, .ss-notebook, .ss-envelop, .ss-pushpin, .ss-location, .ss-location-2, .ss-compass, .ss-map, .ss-map-2, .ss-history, .ss-clock, .ss-clock-2, .ss-alarm, .ss-alarm-2, .ss-bell, .ss-stopwatch, .ss-calendar, .ss-calendar-2, .ss-print, .ss-keyboard, .ss-screen, .ss-laptop, .ss-mobile, .ss-mobile-2, .ss-tablet, .ss-tv, .ss-cabinet, .ss-drawer, .ss-drawer-2, .ss-drawer-3, .ss-box-add, .ss-box-remove, .ss-download, .ss-upload, .ss-disk, .ss-storage, .ss-undo, .ss-redo, .ss-flip, .ss-flip-2, .ss-undo-2, .ss-redo-2, .ss-forward, .ss-reply, .ss-bubble, .ss-bubbles, .ss-bubbles-2, .ss-bubble-2, .ss-bubbles-3, .ss-bubbles-4, .ss-user, .ss-users, .ss-user-2, .ss-users-2, .ss-user-3, .ss-user-4, .ss-quotes-left, .ss-busy, .ss-spinner, .ss-spinner-2, .ss-spinner-3, .ss-spinner-4, .ss-spinner-5, .ss-spinner-6, .ss-binoculars, .ss-search, .ss-zoom-in, .ss-zoom-out, .ss-expand, .ss-contract, .ss-expand-2, .ss-contract-2, .ss-key, .ss-key-2, .ss-lock, .ss-lock-2, .ss-unlocked, .ss-wrench, .ss-settings, .ss-equalizer, .ss-cog, .ss-cogs, .ss-cog-2, .ss-hammer, .ss-wand, .ss-aid, .ss-bug, .ss-pie, .ss-stats, .ss-bars, .ss-bars-2, .ss-gift, .ss-trophy, .ss-glass, .ss-mug, .ss-food, .ss-leaf, .ss-rocket, .ss-meter, .ss-meter2, .ss-dashboard, .ss-hammer-2, .ss-fire, .ss-lab, .ss-magnet, .ss-remove, .ss-remove-2, .ss-briefcase, .ss-airplane, .ss-truck, .ss-road, .ss-accessibility, .ss-target, .ss-shield, .ss-lightning, .ss-switch, .ss-power-cord, .ss-signup, .ss-list, .ss-list-2, .ss-numbered-list, .ss-menu, .ss-menu-2, .ss-tree, .ss-cloud, .ss-cloud-download, .ss-cloud-upload, .ss-download-2, .ss-upload-2, .ss-download-3, .ss-upload-3, .ss-globe, .ss-earth, .ss-link, .ss-flag, .ss-attachment, .ss-eye, .ss-eye-blocked, .ss-eye-2, .ss-bookmark, .ss-bookmarks, .ss-brightness-medium, .ss-brightness-contrast, .ss-contrast, .ss-star, .ss-star-2, .ss-star-3, .ss-heart, .ss-heart-2, .ss-heart-broken, .ss-thumbs-up, .ss-thumbs-up-2, .ss-happy, .ss-happy-2, .ss-smiley, .ss-smiley-2, .ss-tongue, .ss-tongue-2, .ss-sad, .ss-sad-2, .ss-wink, .ss-wink-2, .ss-grin, .ss-grin-2, .ss-cool, .ss-cool-2, .ss-angry, .ss-angry-2, .ss-evil, .ss-evil-2, .ss-shocked, .ss-shocked-2, .ss-confused, .ss-confused-2, .ss-neutral, .ss-neutral-2, .ss-wondering, .ss-wondering-2, .ss-point-up, .ss-point-right, .ss-point-down, .ss-point-left, .ss-warning, .ss-notification, .ss-question, .ss-info, .ss-info-2, .ss-blocked, .ss-cancel-circle, .ss-checkmark-circle, .ss-spam, .ss-close, .ss-checkmark, .ss-checkmark-2, .ss-spell-check, .ss-minus, .ss-plus, .ss-enter, .ss-exit, .ss-play-2, .ss-pause, .ss-stop, .ss-backward, .ss-forward-2, .ss-play-3, .ss-pause-2, .ss-stop-2, .ss-backward-2, .ss-forward-3, .ss-first, .ss-last, .ss-previous, .ss-next, .ss-eject, .ss-volume-high, .ss-volume-medium, .ss-volume-low, .ss-volume-mute, .ss-volume-mute-2, .ss-volume-increase, .ss-volume-decrease, .ss-loop, .ss-loop-2, .ss-loop-3, .ss-shuffle, .ss-arrow-up-left, .ss-arrow-up, .ss-arrow-up-right, .ss-arrow-right, .ss-arrow-down-right, .ss-arrow-down, .ss-arrow-down-left, .ss-arrow-left, .ss-arrow-up-left-2, .ss-arrow-up-2, .ss-arrow-up-right-2, .ss-arrow-right-2, .ss-arrow-down-right-2, .ss-arrow-down-2, .ss-arrow-down-left-2, .ss-arrow-left-2, .ss-arrow-up-left-3, .ss-arrow-up-3, .ss-arrow-up-right-3, .ss-arrow-right-3, .ss-arrow-down-right-3, .ss-arrow-down-3, .ss-arrow-down-left-3, .ss-arrow-left-3, .ss-tab, .ss-checkbox-checked, .ss-checkbox-unchecked, .ss-checkbox-partial, .ss-radio-checked, .ss-radio-unchecked, .ss-crop, .ss-scissors, .ss-filter, .ss-filter-2, .ss-font, .ss-text-height, .ss-text-width, .ss-bold, .ss-underline, .ss-italic, .ss-strikethrough, .ss-omega, .ss-sigma, .ss-table, .ss-table-2, .ss-insert-template, .ss-pilcrow, .ss-left-to-right, .ss-right-to-left, .ss-paragraph-left, .ss-paragraph-center, .ss-paragraph-right, .ss-paragraph-justify, .ss-paragraph-left-2, .ss-paragraph-center-2, .ss-paragraph-right-2, .ss-paragraph-justify-2, .ss-indent-increase, .ss-indent-decrease, .ss-new-tab, .ss-embed, .ss-code, .ss-console, .ss-share, .ss-mail, .ss-mail-2, .ss-mail-3, .ss-mail-4, .ss-google, .ss-google-plus, .ss-google-plus-2, .ss-google-plus-3, .ss-google-plus-4, .ss-google-drive, .ss-facebook, .ss-facebook-2, .ss-facebook-3, .ss-instagram, .ss-twitter, .ss-twitter-2, .ss-twitter-3, .ss-feed-2, .ss-feed-3, .ss-feed-4, .ss-youtube, .ss-youtube-2, .ss-vimeo, .ss-vimeo2, .ss-vimeo-2, .ss-lanyrd, .ss-flickr, .ss-flickr-2, .ss-flickr-3, .ss-flickr-4, .ss-picassa, .ss-picassa-2, .ss-dribbble, .ss-dribbble-2, .ss-dribbble-3, .ss-forrst, .ss-forrst-2, .ss-deviantart, .ss-deviantart-2, .ss-steam, .ss-steam-2, .ss-github, .ss-github-2, .ss-github-3, .ss-github-4, .ss-github-5, .ss-wordpress, .ss-wordpress-2, .ss-joomla, .ss-blogger, .ss-blogger-2, .ss-tumblr, .ss-tumblr-2, .ss-yahoo, .ss-tux, .ss-apple, .ss-finder, .ss-android, .ss-windows, .ss-windows8, .ss-soundcloud, .ss-soundcloud-2, .ss-skype, .ss-reddit, .ss-linkedin, .ss-lastfm, .ss-lastfm-2, .ss-delicious, .ss-stumbleupon, .ss-stumbleupon-2, .ss-stackoverflow, .ss-pinterest, .ss-pinterest-2, .ss-xing, .ss-xing-2, .ss-flattr, .ss-foursquare, .ss-foursquare-2, .ss-paypal, .ss-paypal-2, .ss-paypal-3, .ss-yelp, .ss-libreoffice, .ss-file-pdf, .ss-file-openoffice, .ss-file-word, .ss-file-excel, .ss-file-zip, .ss-file-powerpoint, .ss-file-xml, .ss-file-css, .ss-html5, .ss-html5-2, .ss-css3, .ss-chrome, .ss-firefox, .ss-IE, .ss-opera, .ss-safari, .ss-IcoMoon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ss-home:before {
	content: "\e000";
}
.ss-home-2:before {
	content: "\e001";
}
.ss-home-3:before {
	content: "\e002";
}
.ss-office:before {
	content: "\e003";
}
.ss-newspaper:before {
	content: "\e004";
}
.ss-pencil:before {
	content: "\e005";
}
.ss-pencil-2:before {
	content: "\e006";
}
.ss-quill:before {
	content: "\e007";
}
.ss-pen:before {
	content: "\e008";
}
.ss-blog:before {
	content: "\e009";
}
.ss-droplet:before {
	content: "\e00a";
}
.ss-paint-format:before {
	content: "\e00b";
}
.ss-image:before {
	content: "\e00c";
}
.ss-image-2:before {
	content: "\e00d";
}
.ss-images:before {
	content: "\e00e";
}
.ss-camera:before {
	content: "\e00f";
}
.ss-music:before {
	content: "\e010";
}
.ss-headphones:before {
	content: "\e011";
}
.ss-play:before {
	content: "\e012";
}
.ss-film:before {
	content: "\e013";
}
.ss-camera-2:before {
	content: "\e014";
}
.ss-dice:before {
	content: "\e015";
}
.ss-pacman:before {
	content: "\e016";
}
.ss-spades:before {
	content: "\e017";
}
.ss-clubs:before {
	content: "\e018";
}
.ss-diamonds:before {
	content: "\e019";
}
.ss-pawn:before {
	content: "\e01a";
}
.ss-bullhorn:before {
	content: "\e01b";
}
.ss-connection:before {
	content: "\e01c";
}
.ss-podcast:before {
	content: "\e01d";
}
.ss-feed:before {
	content: "\e01e";
}
.ss-book:before {
	content: "\e01f";
}
.ss-books:before {
	content: "\e020";
}
.ss-library:before {
	content: "\e021";
}
.ss-file:before {
	content: "\e022";
}
.ss-profile:before {
	content: "\e023";
}
.ss-file-2:before {
	content: "\e024";
}
.ss-file-3:before {
	content: "\e025";
}
.ss-file-4:before {
	content: "\e026";
}
.ss-copy:before {
	content: "\e027";
}
.ss-copy-2:before {
	content: "\e028";
}
.ss-copy-3:before {
	content: "\e029";
}
.ss-paste:before {
	content: "\e02a";
}
.ss-paste-2:before {
	content: "\e02b";
}
.ss-paste-3:before {
	content: "\e02c";
}
.ss-stack:before {
	content: "\e02d";
}
.ss-folder:before {
	content: "\e02e";
}
.ss-folder-open:before {
	content: "\e02f";
}
.ss-tag:before {
	content: "\e030";
}
.ss-tags:before {
	content: "\e031";
}
.ss-barcode:before {
	content: "\e032";
}
.ss-qrcode:before {
	content: "\e033";
}
.ss-ticket:before {
	content: "\e034";
}
.ss-cart:before {
	content: "\e035";
}
.ss-cart-2:before {
	content: "\e036";
}
.ss-cart-3:before {
	content: "\e037";
}
.ss-coin:before {
	content: "\e038";
}
.ss-credit:before {
	content: "\e039";
}
.ss-calculate:before {
	content: "\e03a";
}
.ss-support:before {
	content: "\e03b";
}
.ss-phone:before {
	content: "\e03c";
}
.ss-phone-hang-up:before {
	content: "\e03d";
}
.ss-address-book:before {
	content: "\e03e";
}
.ss-notebook:before {
	content: "\e03f";
}
.ss-envelop:before {
	content: "\e040";
}
.ss-pushpin:before {
	content: "\e041";
}
.ss-location:before {
	content: "\e042";
}
.ss-location-2:before {
	content: "\e043";
}
.ss-compass:before {
	content: "\e044";
}
.ss-map:before {
	content: "\e045";
}
.ss-map-2:before {
	content: "\e046";
}
.ss-history:before {
	content: "\e047";
}
.ss-clock:before {
	content: "\e048";
}
.ss-clock-2:before {
	content: "\e049";
}
.ss-alarm:before {
	content: "\e04a";
}
.ss-alarm-2:before {
	content: "\e04b";
}
.ss-bell:before {
	content: "\e04c";
}
.ss-stopwatch:before {
	content: "\e04d";
}
.ss-calendar:before {
	content: "\e04e";
}
.ss-calendar-2:before {
	content: "\e04f";
}
.ss-print:before {
	content: "\e050";
}
.ss-keyboard:before {
	content: "\e051";
}
.ss-screen:before {
	content: "\e052";
}
.ss-laptop:before {
	content: "\e053";
}
.ss-mobile:before {
	content: "\e054";
}
.ss-mobile-2:before {
	content: "\e055";
}
.ss-tablet:before {
	content: "\e056";
}
.ss-tv:before {
	content: "\e057";
}
.ss-cabinet:before {
	content: "\e058";
}
.ss-drawer:before {
	content: "\e059";
}
.ss-drawer-2:before {
	content: "\e05a";
}
.ss-drawer-3:before {
	content: "\e05b";
}
.ss-box-add:before {
	content: "\e05c";
}
.ss-box-remove:before {
	content: "\e05d";
}
.ss-download:before {
	content: "\e05e";
}
.ss-upload:before {
	content: "\e05f";
}
.ss-disk:before {
	content: "\e060";
}
.ss-storage:before {
	content: "\e061";
}
.ss-undo:before {
	content: "\e062";
}
.ss-redo:before {
	content: "\e063";
}
.ss-flip:before {
	content: "\e064";
}
.ss-flip-2:before {
	content: "\e065";
}
.ss-undo-2:before {
	content: "\e066";
}
.ss-redo-2:before {
	content: "\e067";
}
.ss-forward:before {
	content: "\e068";
}
.ss-reply:before {
	content: "\e069";
}
.ss-bubble:before {
	content: "\e06a";
}
.ss-bubbles:before {
	content: "\e06b";
}
.ss-bubbles-2:before {
	content: "\e06c";
}
.ss-bubble-2:before {
	content: "\e06d";
}
.ss-bubbles-3:before {
	content: "\e06e";
}
.ss-bubbles-4:before {
	content: "\e06f";
}
.ss-user:before {
	content: "\e070";
}
.ss-users:before {
	content: "\e071";
}
.ss-user-2:before {
	content: "\e072";
}
.ss-users-2:before {
	content: "\e073";
}
.ss-user-3:before {
	content: "\e074";
}
.ss-user-4:before {
	content: "\e075";
}
.ss-quotes-left:before {
	content: "\e076";
}
.ss-busy:before {
	content: "\e077";
}
.ss-spinner:before {
	content: "\e078";
}
.ss-spinner-2:before {
	content: "\e079";
}
.ss-spinner-3:before {
	content: "\e07a";
}
.ss-spinner-4:before {
	content: "\e07b";
}
.ss-spinner-5:before {
	content: "\e07c";
}
.ss-spinner-6:before {
	content: "\e07d";
}
.ss-binoculars:before {
	content: "\e07e";
}
.ss-search:before {
	content: "\e07f";
}
.ss-zoom-in:before {
	content: "\e080";
}
.ss-zoom-out:before {
	content: "\e081";
}
.ss-expand:before {
	content: "\e082";
}
.ss-contract:before {
	content: "\e083";
}
.ss-expand-2:before {
	content: "\e084";
}
.ss-contract-2:before {
	content: "\e085";
}
.ss-key:before {
	content: "\e086";
}
.ss-key-2:before {
	content: "\e087";
}
.ss-lock:before {
	content: "\e088";
}
.ss-lock-2:before {
	content: "\e089";
}
.ss-unlocked:before {
	content: "\e08a";
}
.ss-wrench:before {
	content: "\e08b";
}
.ss-settings:before {
	content: "\e08c";
}
.ss-equalizer:before {
	content: "\e08d";
}
.ss-cog:before {
	content: "\e08e";
}
.ss-cogs:before {
	content: "\e08f";
}
.ss-cog-2:before {
	content: "\e090";
}
.ss-hammer:before {
	content: "\e091";
}
.ss-wand:before {
	content: "\e092";
}
.ss-aid:before {
	content: "\e093";
}
.ss-bug:before {
	content: "\e094";
}
.ss-pie:before {
	content: "\e095";
}
.ss-stats:before {
	content: "\e096";
}
.ss-bars:before {
	content: "\e097";
}
.ss-bars-2:before {
	content: "\e098";
}
.ss-gift:before {
	content: "\e099";
}
.ss-trophy:before {
	content: "\e09a";
}
.ss-glass:before {
	content: "\e09b";
}
.ss-mug:before {
	content: "\e09c";
}
.ss-food:before {
	content: "\e09d";
}
.ss-leaf:before {
	content: "\e09e";
}
.ss-rocket:before {
	content: "\e09f";
}
.ss-meter:before {
	content: "\e0a0";
}
.ss-meter2:before {
	content: "\e0a1";
}
.ss-dashboard:before {
	content: "\e0a2";
}
.ss-hammer-2:before {
	content: "\e0a3";
}
.ss-fire:before {
	content: "\e0a4";
}
.ss-lab:before {
	content: "\e0a5";
}
.ss-magnet:before {
	content: "\e0a6";
}
.ss-remove:before {
	content: "\e0a7";
}
.ss-remove-2:before {
	content: "\e0a8";
}
.ss-briefcase:before {
	content: "\e0a9";
}
.ss-airplane:before {
	content: "\e0aa";
}
.ss-truck:before {
	content: "\e0ab";
}
.ss-road:before {
	content: "\e0ac";
}
.ss-accessibility:before {
	content: "\e0ad";
}
.ss-target:before {
	content: "\e0ae";
}
.ss-shield:before {
	content: "\e0af";
}
.ss-lightning:before {
	content: "\e0b0";
}
.ss-switch:before {
	content: "\e0b1";
}
.ss-power-cord:before {
	content: "\e0b2";
}
.ss-signup:before {
	content: "\e0b3";
}
.ss-list:before {
	content: "\e0b4";
}
.ss-list-2:before {
	content: "\e0b5";
}
.ss-numbered-list:before {
	content: "\e0b6";
}
.ss-menu:before {
	content: "\e0b7";
}
.ss-menu-2:before {
	content: "\e0b8";
}
.ss-tree:before {
	content: "\e0b9";
}
.ss-cloud:before {
	content: "\e0ba";
}
.ss-cloud-download:before {
	content: "\e0bb";
}
.ss-cloud-upload:before {
	content: "\e0bc";
}
.ss-download-2:before {
	content: "\e0bd";
}
.ss-upload-2:before {
	content: "\e0be";
}
.ss-download-3:before {
	content: "\e0bf";
}
.ss-upload-3:before {
	content: "\e0c0";
}
.ss-globe:before {
	content: "\e0c1";
}
.ss-earth:before {
	content: "\e0c2";
}
.ss-link:before {
	content: "\e0c3";
}
.ss-flag:before {
	content: "\e0c4";
}
.ss-attachment:before {
	content: "\e0c5";
}
.ss-eye:before {
	content: "\e0c6";
}
.ss-eye-blocked:before {
	content: "\e0c7";
}
.ss-eye-2:before {
	content: "\e0c8";
}
.ss-bookmark:before {
	content: "\e0c9";
}
.ss-bookmarks:before {
	content: "\e0ca";
}
.ss-brightness-medium:before {
	content: "\e0cb";
}
.ss-brightness-contrast:before {
	content: "\e0cc";
}
.ss-contrast:before {
	content: "\e0cd";
}
.ss-star:before {
	content: "\e0ce";
}
.ss-star-2:before {
	content: "\e0cf";
}
.ss-star-3:before {
	content: "\e0d0";
}
.ss-heart:before {
	content: "\e0d1";
}
.ss-heart-2:before {
	content: "\e0d2";
}
.ss-heart-broken:before {
	content: "\e0d3";
}
.ss-thumbs-up:before {
	content: "\e0d4";
}
.ss-thumbs-up-2:before {
	content: "\e0d5";
}
.ss-happy:before {
	content: "\e0d6";
}
.ss-happy-2:before {
	content: "\e0d7";
}
.ss-smiley:before {
	content: "\e0d8";
}
.ss-smiley-2:before {
	content: "\e0d9";
}
.ss-tongue:before {
	content: "\e0da";
}
.ss-tongue-2:before {
	content: "\e0db";
}
.ss-sad:before {
	content: "\e0dc";
}
.ss-sad-2:before {
	content: "\e0dd";
}
.ss-wink:before {
	content: "\e0de";
}
.ss-wink-2:before {
	content: "\e0df";
}
.ss-grin:before {
	content: "\e0e0";
}
.ss-grin-2:before {
	content: "\e0e1";
}
.ss-cool:before {
	content: "\e0e2";
}
.ss-cool-2:before {
	content: "\e0e3";
}
.ss-angry:before {
	content: "\e0e4";
}
.ss-angry-2:before {
	content: "\e0e5";
}
.ss-evil:before {
	content: "\e0e6";
}
.ss-evil-2:before {
	content: "\e0e7";
}
.ss-shocked:before {
	content: "\e0e8";
}
.ss-shocked-2:before {
	content: "\e0e9";
}
.ss-confused:before {
	content: "\e0ea";
}
.ss-confused-2:before {
	content: "\e0eb";
}
.ss-neutral:before {
	content: "\e0ec";
}
.ss-neutral-2:before {
	content: "\e0ed";
}
.ss-wondering:before {
	content: "\e0ee";
}
.ss-wondering-2:before {
	content: "\e0ef";
}
.ss-point-up:before {
	content: "\e0f0";
}
.ss-point-right:before {
	content: "\e0f1";
}
.ss-point-down:before {
	content: "\e0f2";
}
.ss-point-left:before {
	content: "\e0f3";
}
.ss-warning:before {
	content: "\e0f4";
}
.ss-notification:before {
	content: "\e0f5";
}
.ss-question:before {
	content: "\e0f6";
}
.ss-info:before {
	content: "\e0f7";
}
.ss-info-2:before {
	content: "\e0f8";
}
.ss-blocked:before {
	content: "\e0f9";
}
.ss-cancel-circle:before {
	content: "\e0fa";
}
.ss-checkmark-circle:before {
	content: "\e0fb";
}
.ss-spam:before {
	content: "\e0fc";
}
.ss-close:before {
	content: "\e0fd";
}
.ss-checkmark:before {
	content: "\e0fe";
}
.ss-checkmark-2:before {
	content: "\e0ff";
}
.ss-spell-check:before {
	content: "\e100";
}
.ss-minus:before {
	content: "\e101";
}
.ss-plus:before {
	content: "\e102";
}
.ss-enter:before {
	content: "\e103";
}
.ss-exit:before {
	content: "\e104";
}
.ss-play-2:before {
	content: "\e105";
}
.ss-pause:before {
	content: "\e106";
}
.ss-stop:before {
	content: "\e107";
}
.ss-backward:before {
	content: "\e108";
}
.ss-forward-2:before {
	content: "\e109";
}
.ss-play-3:before {
	content: "\e10a";
}
.ss-pause-2:before {
	content: "\e10b";
}
.ss-stop-2:before {
	content: "\e10c";
}
.ss-backward-2:before {
	content: "\e10d";
}
.ss-forward-3:before {
	content: "\e10e";
}
.ss-first:before {
	content: "\e10f";
}
.ss-last:before {
	content: "\e110";
}
.ss-previous:before {
	content: "\e111";
}
.ss-next:before {
	content: "\e112";
}
.ss-eject:before {
	content: "\e113";
}
.ss-volume-high:before {
	content: "\e114";
}
.ss-volume-medium:before {
	content: "\e115";
}
.ss-volume-low:before {
	content: "\e116";
}
.ss-volume-mute:before {
	content: "\e117";
}
.ss-volume-mute-2:before {
	content: "\e118";
}
.ss-volume-increase:before {
	content: "\e119";
}
.ss-volume-decrease:before {
	content: "\e11a";
}
.ss-loop:before {
	content: "\e11b";
}
.ss-loop-2:before {
	content: "\e11c";
}
.ss-loop-3:before {
	content: "\e11d";
}
.ss-shuffle:before {
	content: "\e11e";
}
.ss-arrow-up-left:before {
	content: "\e11f";
}
.ss-arrow-up:before {
	content: "\e120";
}
.ss-arrow-up-right:before {
	content: "\e121";
}
.ss-arrow-right:before {
	content: "\e122";
}
.ss-arrow-down-right:before {
	content: "\e123";
}
.ss-arrow-down:before {
	content: "\e124";
}
.ss-arrow-down-left:before {
	content: "\e125";
}
.ss-arrow-left:before {
	content: "\e126";
}
.ss-arrow-up-left-2:before {
	content: "\e127";
}
.ss-arrow-up-2:before {
	content: "\e128";
}
.ss-arrow-up-right-2:before {
	content: "\e129";
}
.ss-arrow-right-2:before {
	content: "\e12a";
}
.ss-arrow-down-right-2:before {
	content: "\e12b";
}
.ss-arrow-down-2:before {
	content: "\e12c";
}
.ss-arrow-down-left-2:before {
	content: "\e12d";
}
.ss-arrow-left-2:before {
	content: "\e12e";
}
.ss-arrow-up-left-3:before {
	content: "\e12f";
}
.ss-arrow-up-3:before {
	content: "\e130";
}
.ss-arrow-up-right-3:before {
	content: "\e131";
}
.ss-arrow-right-3:before {
	content: "\e132";
}
.ss-arrow-down-right-3:before {
	content: "\e133";
}
.ss-arrow-down-3:before {
	content: "\e134";
}
.ss-arrow-down-left-3:before {
	content: "\e135";
}
.ss-arrow-left-3:before {
	content: "\e136";
}
.ss-tab:before {
	content: "\e137";
}
.ss-checkbox-checked:before {
	content: "\e138";
}
.ss-checkbox-unchecked:before {
	content: "\e139";
}
.ss-checkbox-partial:before {
	content: "\e13a";
}
.ss-radio-checked:before {
	content: "\e13b";
}
.ss-radio-unchecked:before {
	content: "\e13c";
}
.ss-crop:before {
	content: "\e13d";
}
.ss-scissors:before {
	content: "\e13e";
}
.ss-filter:before {
	content: "\e13f";
}
.ss-filter-2:before {
	content: "\e140";
}
.ss-font:before {
	content: "\e141";
}
.ss-text-height:before {
	content: "\e142";
}
.ss-text-width:before {
	content: "\e143";
}
.ss-bold:before {
	content: "\e144";
}
.ss-underline:before {
	content: "\e145";
}
.ss-italic:before {
	content: "\e146";
}
.ss-strikethrough:before {
	content: "\e147";
}
.ss-omega:before {
	content: "\e148";
}
.ss-sigma:before {
	content: "\e149";
}
.ss-table:before {
	content: "\e14a";
}
.ss-table-2:before {
	content: "\e14b";
}
.ss-insert-template:before {
	content: "\e14c";
}
.ss-pilcrow:before {
	content: "\e14d";
}
.ss-left-to-right:before {
	content: "\e14e";
}
.ss-right-to-left:before {
	content: "\e14f";
}
.ss-paragraph-left:before {
	content: "\e150";
}
.ss-paragraph-center:before {
	content: "\e151";
}
.ss-paragraph-right:before {
	content: "\e152";
}
.ss-paragraph-justify:before {
	content: "\e153";
}
.ss-paragraph-left-2:before {
	content: "\e154";
}
.ss-paragraph-center-2:before {
	content: "\e155";
}
.ss-paragraph-right-2:before {
	content: "\e156";
}
.ss-paragraph-justify-2:before {
	content: "\e157";
}
.ss-indent-increase:before {
	content: "\e158";
}
.ss-indent-decrease:before {
	content: "\e159";
}
.ss-new-tab:before {
	content: "\e15a";
}
.ss-embed:before {
	content: "\e15b";
}
.ss-code:before {
	content: "\e15c";
}
.ss-console:before {
	content: "\e15d";
}
.ss-share:before {
	content: "\e15e";
}
.ss-mail:before {
	content: "\e15f";
}
.ss-mail-2:before {
	content: "\e160";
}
.ss-mail-3:before {
	content: "\e161";
}
.ss-mail-4:before {
	content: "\e162";
}
.ss-google:before {
	content: "\e163";
}
.ss-google-plus:before {
	content: "\e164";
}
.ss-google-plus-2:before {
	content: "\e165";
}
.ss-google-plus-3:before {
	content: "\e166";
}
.ss-google-plus-4:before {
	content: "\e167";
}
.ss-google-drive:before {
	content: "\e168";
}
.ss-facebook:before {
	content: "\e169";
}
.ss-facebook-2:before {
	content: "\e16a";
}
.ss-facebook-3:before {
	content: "\e16b";
}
.ss-instagram:before {
	content: "\e16c";
}
.ss-twitter:before {
	content: "\e16d";
}
.ss-twitter-2:before {
	content: "\e16e";
}
.ss-twitter-3:before {
	content: "\e16f";
}
.ss-feed-2:before {
	content: "\e170";
}
.ss-feed-3:before {
	content: "\e171";
}
.ss-feed-4:before {
	content: "\e172";
}
.ss-youtube:before {
	content: "\e173";
}
.ss-youtube-2:before {
	content: "\e174";
}
.ss-vimeo:before {
	content: "\e175";
}
.ss-vimeo2:before {
	content: "\e176";
}
.ss-vimeo-2:before {
	content: "\e177";
}
.ss-lanyrd:before {
	content: "\e178";
}
.ss-flickr:before {
	content: "\e179";
}
.ss-flickr-2:before {
	content: "\e17a";
}
.ss-flickr-3:before {
	content: "\e17b";
}
.ss-flickr-4:before {
	content: "\e17c";
}
.ss-picassa:before {
	content: "\e17d";
}
.ss-picassa-2:before {
	content: "\e17e";
}
.ss-dribbble:before {
	content: "\e17f";
}
.ss-dribbble-2:before {
	content: "\e180";
}
.ss-dribbble-3:before {
	content: "\e181";
}
.ss-forrst:before {
	content: "\e182";
}
.ss-forrst-2:before {
	content: "\e183";
}
.ss-deviantart:before {
	content: "\e184";
}
.ss-deviantart-2:before {
	content: "\e185";
}
.ss-steam:before {
	content: "\e186";
}
.ss-steam-2:before {
	content: "\e187";
}
.ss-github:before {
	content: "\e188";
}
.ss-github-2:before {
	content: "\e189";
}
.ss-github-3:before {
	content: "\e18a";
}
.ss-github-4:before {
	content: "\e18b";
}
.ss-github-5:before {
	content: "\e18c";
}
.ss-wordpress:before {
	content: "\e18d";
}
.ss-wordpress-2:before {
	content: "\e18e";
}
.ss-joomla:before {
	content: "\e18f";
}
.ss-blogger:before {
	content: "\e190";
}
.ss-blogger-2:before {
	content: "\e191";
}
.ss-tumblr:before {
	content: "\e192";
}
.ss-tumblr-2:before {
	content: "\e193";
}
.ss-yahoo:before {
	content: "\e194";
}
.ss-tux:before {
	content: "\e195";
}
.ss-apple:before {
	content: "\e196";
}
.ss-finder:before {
	content: "\e197";
}
.ss-android:before {
	content: "\e198";
}
.ss-windows:before {
	content: "\e199";
}
.ss-windows8:before {
	content: "\e19a";
}
.ss-soundcloud:before {
	content: "\e19b";
}
.ss-soundcloud-2:before {
	content: "\e19c";
}
.ss-skype:before {
	content: "\e19d";
}
.ss-reddit:before {
	content: "\e19e";
}
.ss-linkedin:before {
	content: "\e19f";
}
.ss-lastfm:before {
	content: "\e1a0";
}
.ss-lastfm-2:before {
	content: "\e1a1";
}
.ss-delicious:before {
	content: "\e1a2";
}
.ss-stumbleupon:before {
	content: "\e1a3";
}
.ss-stumbleupon-2:before {
	content: "\e1a4";
}
.ss-stackoverflow:before {
	content: "\e1a5";
}
.ss-pinterest:before {
	content: "\e1a6";
}
.ss-pinterest-2:before {
	content: "\e1a7";
}
.ss-xing:before {
	content: "\e1a8";
}
.ss-xing-2:before {
	content: "\e1a9";
}
.ss-flattr:before {
	content: "\e1aa";
}
.ss-foursquare:before {
	content: "\e1ab";
}
.ss-foursquare-2:before {
	content: "\e1ac";
}
.ss-paypal:before {
	content: "\e1ad";
}
.ss-paypal-2:before {
	content: "\e1ae";
}
.ss-paypal-3:before {
	content: "\e1af";
}
.ss-yelp:before {
	content: "\e1b0";
}
.ss-libreoffice:before {
	content: "\e1b1";
}
.ss-file-pdf:before {
	content: "\e1b2";
}
.ss-file-openoffice:before {
	content: "\e1b3";
}
.ss-file-word:before {
	content: "\e1b4";
}
.ss-file-excel:before {
	content: "\e1b5";
}
.ss-file-zip:before {
	content: "\e1b6";
}
.ss-file-powerpoint:before {
	content: "\e1b7";
}
.ss-file-xml:before {
	content: "\e1b8";
}
.ss-file-css:before {
	content: "\e1b9";
}
.ss-html5:before {
	content: "\e1ba";
}
.ss-html5-2:before {
	content: "\e1bb";
}
.ss-css3:before {
	content: "\e1bc";
}
.ss-chrome:before {
	content: "\e1bd";
}
.ss-firefox:before {
	content: "\e1be";
}
.ss-IE:before {
	content: "\e1bf";
}
.ss-opera:before {
	content: "\e1c0";
}
.ss-safari:before {
	content: "\e1c1";
}
.ss-IcoMoon:before {
	content: "\e1c2";
}
