.bravo-sort-order{
	list-style: none;
	width:40%;
	margin-bottom: 50px;
}

.portlet { margin-bottom: 15px; cursor: move; }
.portlet-header, .ui-widget-header { padding:10px; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted #ddd; visibility: visible !important; height: 50px !important; }
.portlet-header{
	color: #fff;
	font: 12px bold Arial, sans-serif !important;
	background-color: #4f5159;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f5159), to(#2c2e34));
	background-image: -webkit-linear-gradient(top, #4f5159, #2c2e34);
	background-image:    -moz-linear-gradient(top, #4f5159, #2c2e34);
	background-image:      -o-linear-gradient(top, #4f5159, #2c2e34);
	background-image:         linear-gradient(to bottom, #4f5159, #2c2e34);
	border-width: 1px;
	border-style: solid;
	border-color: #202020;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.10);
 	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
}

.portlet-header:hover{
	background: #f73946;
	border:1px solid #f73946;
}

.ui-widget-header{
	background: #f3f3f3 !important;
	color:#555 !important;
	border:none !important;
	border-bottom: 1px solid #dadada !important;
	font:bold 14px Arial, sans-serif !important;
	border-radius: 0 !important;
	box-shadow: inset 1px 0px 0 #fff;
}

.ui-state-hover{
	background:none !important; 
	border: none !important;
}

.ui-dialog{
	position: fixed !important;
	top:30px !important;
}

/* Bluefoose dark button
*******************************************************************************/
.bluefoose-button-dark {
	position:relative;
	font: 12px Arial, sans-serif;
	color: #fff;
	background: #f73946;
	border:1px solid #f73946;
    cursor: pointer; 
  	padding: 10px 13px;
  	text-align: center;
  	text-decoration: none;
  	border-radius: 5px;
}
.bluefoose-button-dark:hover {
		color: #fff;
}
.bluefoose-button-dark:active {
		color: #fff;
}

.be-pb-element.ui-sortable-placeholder{
	background: #fff;
	border: 1px dotted #d6d6d6;
}

/* Bluefoose light button
*******************************************************************************/
.bluefoose-button-light {
	position:relative;
  	text-decoration:none;
	color: #fff;
	font: 12px bold Arial, sans-serif !important;
	background-color: #4f5159;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f5159), to(#2c2e34));
	background-image: -webkit-linear-gradient(top, #4f5159, #2c2e34);
	background-image:    -moz-linear-gradient(top, #4f5159, #2c2e34);
	background-image:      -o-linear-gradient(top, #4f5159, #2c2e34);
	background-image:         linear-gradient(to bottom, #4f5159, #2c2e34);
	border-width: 1px;
	border-style: solid;
	border-color: #202020;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.10);
  	padding: 10px 13px;
  	text-align: center;
  	border-radius: 3px;
}
.bluefoose-button-light:hover {
	color: #fff;
	background: #f73946;
	border:1px solid #f73946;
    cursor: pointer; 
}
.bluefoose-button-light:active {
	color: #fff;
	background: #f73946;
	border:1px solid #f73946; 
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.left{
	float: left;
}
.right{
	float: right;
}